@font-face {
  font-family: 'Source Code Pro';
  src: url('./../fonts/SourceCodePro-Regular.ttf')
}

.Listing {
  height: 100%;
  width: 100%;
}

.Listing-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Listing-block-list {
  font-family: 'Source Code Pro';
  font-size: 10px;
  /*font-size: var(--block-list-font-size);*/
}

/* Common for Address, Mnemonic and Comment */
.Listing-column {
  padding-bottom: 1px;
  display: flex;
  flex-direction: row;
}

.Listing-column > * {
  align-self: flex-end;
}

/* Address */
.Address {
  min-height: var(--half-line-height);
  width: var(--address-column-width);
  text-align: right;
  cursor: default;
  user-select: none;
  color: #626262;
  padding-right: 12px;
  background-color: #fafafa;
}

.Address-background {
  min-height: 100%;
  width: var(--address-column-width);
  background-color: #fafafa;
  border-right: 1px solid #939393;
}

.Line .Address::before {
  content: attr(data-shortend-address);
}

.Line:hover .Address::before {
  content: attr(data-full-address);
}

/* Comment */
.Comment {
  min-height: var(--half-line-height);
  min-width: 150px;
}

.Line .bp3-editable-text-placeholder {
  opacity: 0;
}

.Line:hover .bp3-editable-text-placeholder {
  opacity: 1;
}

/*
.Branch {
  font-style: italic;
  padding-left: 20px;
  font-size: 9px;
  min-height: var(--half-line-height);
}
*/

/* Arrows */
.Arrows svg {
  background-color: rgba(0,0,0,0);
}

.Arrows {
  pointer-events: none;
}
