:root {
  --bar-height: 50px;
  --sidebar-width: 18vw;
  --sidebar-width-max: 350px;
  --sidebar-width-min: 160px;
}

.App {
  display: grid;
  grid-template-rows: var(--bar-height) auto;
  grid-template-columns: var(--sidebar-width-max) auto;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 2000px) {
  .App {
    grid-template-columns: minmax(var(--sidebar-width-min), var(--sidebar-width)) 1fr;
  }
}

.App-panel {
  height: calc(~"100vh -" var(--bar-height));
  overflow: hidden;
}
