.Mnemonic {
  height: var(--half-line-height);
  padding-right: var(--mnemonic-padding-right);
  padding-left: var(--mnemonic-padding-left);
  white-space: nowrap;
}

.Mnemonic-inner {
  height: var(--half-line-height);
}

.Mnemonic-opcode {
  font-weight: bold;
}

.Mnemonic-arg-numeric {
  color: salmon;
}

.Mnemonic-arg-register {
  color: blueviolet;
}

.Mnemonic-jump {
  cursor: pointer;
}
