.Sidebar-Item {
  display: block;
  position: relative;
  width: 100%;
  height: 28px;
  padding: 0.3rem 0 0 0.4rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

a.Sidebar-Item {
  text-decoration: none;
}

a.Sidebar-Item:hover {
  background-color: #dededf;
  text-decoration: none;
}

a.Sidebar-Item.DisabledFunction {
  color: #dededf;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

a.Sidebar-Item.SelectedFunction {
  background-color: #006EB2;
  color: #fefefe;
}

.Sidebar {
  border: 1px solid #dbdbdc;
  padding: 0 0;
  background: #eaeaeb;
}
